<div class="container-fluid" style="background: white; padding: 30px 40px; width: 98%;">
  <div class="row">
    <div class="col-lg-6 info">
      <p>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.spanish.value">
          Portal web al servicio de todas las peruanas y peruanos para construir una visión compartida del Perú y ser
          coprotagonistas de la toma de decisiones en el proceso constituyente de los pueblos del Perú hacia una Nueva
          Constitución.
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.chanka.value">
          Kay plataforma kanqa llaqta runakunapa tapukuyninkuna paskariq, lliwpaq huk musuq mama qillqa kamachikuy Perú
          suyunchikpaq awariypi.
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.collao.value">
          Kay plataforma kanqa llaqta runakunaq tapukuyninkuna paskariq, lliwpaq huk musuq mama qhillqa kamachikuy Perú
          suyunchispaq awariypi.
        </ng-container>
      </p>
      <p>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.spanish.value">
          Es el camino por el cual se hace llegar una propuesta para elaborar un régimen político que nos conduzca a una
          visión compartida de país. Hablamos de proceso porque se trata de generar un espacio donde las ciudadanas y
          ciudadanos participen en la elaboración de los conceptos fundamentales para un nuevo contrato social entre los
          pueblos del Perú y el Estado a partir de sus necesidades y demandas a corto y mediano plazo respetando nuestro
          territorio y nuestra cultura.
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.chanka.value">
          Kay puriypiqa riqsichikuchkan huk musuq mama qillqa kamachikuyta Perú suyunchikpaq, chay hinatacha pusariwasun
          llapachikta kinkillanta suyunchikta qawarinapaq. Rimarisunchik kay musuq kamachikuy mama qillqamanta
          imaraykuchus llapallan runamasikunapa warmi qariq rimayninku chaninchasqa hinallataq uyarisqa kananpaq,
          chaywantaq huk musuq kamachinakuyta ruwaspa hatarichikunanpaq, kaytaq kanan llaqta runawan hinallataq Perú
          suyu umalliqkunawan masachakuspa hapirikunanmi imaymana sasachayninkunata, mañakuyninkunata qhawarispa
          uyarispa llaqta ayllukunamanta. Kaykuna apakunan usqayllaman ruwakunanpaq, chayllaman huntakunanpaq, lliw
          llaqtanchikkunata amachaspa, kawsayninchikkunata hayninchaspa ima.
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.collao.value">
          Kay puriypiqa riqsichikushan huk musuq mama qhillqa kamachikuyta Perú suyunchispaq, chay hinatacha pusariwasun
          llapachista kinkinta suyunchista qhawarinapaq. Rimarinchis kay musuq kamachikuy mama qhillqamanta imaraykuchus
          llapallan runamasikuna warmi qhariq rimayninku chaninchasqa hinallataq uyarisqa kananpaq, chaywantaq huk musuq
          kamachinakuyta ruwaspa hatarichikunanpaq, kaytaq kanan llaqta runawan hinallataq Perú suyu umalliqkunawan
          kuska masachakuspa chaskirikunanmi imaymana sasachayninkunata, mañakuyninkunata qhawarispa uyarispa llaqta
          ayllukunamanta. Kaykuna apakunan usqhayllaman ruwakunanpaq, chayllaman hunt’akunanpaq, lliw llaqtanchiskunata
          amachaspa, kawsayninchiskunata hayninchaspa ima.
        </ng-container>
      </p>
      <p>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.spanish.value">
          Toda esta información estará disponible a los ciudadanos, ciudadanas y organizaciones del Perú, la ciencia y
          la tecnología al servicio del país.
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.chanka.value">
          Llapan kaypi willakuykunaqa mastarisqa kanqa lliw suyuchispi warmi qari runakunapaq hinallataq
          Organizacionkunapaqpas riqsinankupaq, kay Ciencia y Tecnologíaqa Perú suyunchik qimirispa kallpachananpaqmi.
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.collao.value">
          Llapan kaypi willakuykunaqa mast’arisqa kanqa lliw suyuchispi warmi qhari runakunaman hinallataq
          Organizacionkunapaqpas riqsinankupaq, kay Ciencia y Tecnologíaqa Perú suyunchis q’imirispa kallpachananpaqmi.
        </ng-container>
      </p>
    </div>
    <div class="col-lg-6 carousel-content">

      <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>
        </ul>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [ngClass]="{'spanish': utilService.typeOfLanguage===languages.spanish.value,
            'quechua': (utilService.typeOfLanguage===languages.chanka.value
            || utilService.typeOfLanguage===languages.collao.value)}" class="img-fluid" src="../../../assets/images/carousel1.png" alt="">
          </div>
          <div class="carousel-item">
            <img [ngClass]="{'spanish': utilService.typeOfLanguage===languages.spanish.value,
            'quechua': (utilService.typeOfLanguage===languages.chanka.value
            || utilService.typeOfLanguage===languages.collao.value)}" class="img-fluid" src="../../../assets/images/arequipa.jpg" alt="">
          </div>
          <div class="carousel-item">
            <img [ngClass]="{'spanish': utilService.typeOfLanguage===languages.spanish.value,
            'quechua': (utilService.typeOfLanguage===languages.chanka.value
            || utilService.typeOfLanguage===languages.collao.value)}" class="img-fluid" src="../../../assets/images/lima.jpg" alt="">
          </div>
          <div class="carousel-item">
            <img [ngClass]="{'spanish': utilService.typeOfLanguage===languages.spanish.value,
            'quechua': (utilService.typeOfLanguage===languages.chanka.value
            || utilService.typeOfLanguage===languages.collao.value)}" class="img-fluid" src="../../../assets/images/norteLoreto.jpg" alt="">
          </div>
          <div class="carousel-item">
            <img [ngClass]="{'spanish': utilService.typeOfLanguage===languages.spanish.value,
            'quechua': (utilService.typeOfLanguage===languages.chanka.value
            || utilService.typeOfLanguage===languages.collao.value)}" class="img-fluid" src="../../../assets/images/surCuzco.jpg" alt="">
          </div>
        </div>
      </div>

    </div>


  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-12" align="center">
      <button mat-raised-button style="background-color: #a51e1f; color:white" (click)="showNewPerson()">
        <mat-icon>person_add</mat-icon>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.spanish.value">
          Únete a esta iniciativa constituyente
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.chanka.value">
          Hakuchis kay puriyman
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.collao.value
        ">
          Hakuchik kay puriyman
        </ng-container>
      </button>
    </div>
    <!--  <div class="col-md-7 show-list" align="center">
      <button mat-raised-button class="concept"> <mat-icon>person_pin</mat-icon> Ver lista de conceptos constiuyentes</button>
    </div> -->
  </div>
</div>
<br>