.info{
    border: 1px solid;
    padding: 30px;
    font-size: 16px;
    text-align: justify;
    font-weight: 500;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
}

img{
    width: 100% !important;
    height: 350px;
}