<div class="container-fluid" style="background: white; padding: 30px 40px; width: 98%;">
  <div class="row">
    <div class="col-md-6 info">
      <p>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.spanish.value">
          Portal web al servicio de todas las peruanas y peruanos para construir una visión compartida del Perú y ser
          coprotagonistas de la toma de decisiones en el proceso constituyente de los pueblos del Perú hacia una Nueva
          Constitución.
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.chanka.value">
          Kay portal wed kanqa lliw Perú suyu runamasikunapa kikillantaq mayqan runamasikunachus waq sumaq nirayta
          qawarinku Perú suyunchikpaq.
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.collao.value">
          Kay portal wed kanqa lliw Perú suyu runamasikunapaq kikillantaq mayqan runamasikunachus waq sumaq nirayta
          qhawarinku Perú suyunchispaq.
        </ng-container>
      </p>
      <p>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.spanish.value">
          Proceso constituyente: Es el camino en el cual se hace una propuesta constitucional de un nuevo régimen
          político a la población. Hablamos de proceso porque se trata de generar un espacio donde las ciudadanas y
          ciudadanos puedan participar en la elaboración de un nuevo contrato social entre el Estado y los pueblos del
          Perú a partir de sus necesidades y demandas a corto y mediano plazo respetando nuestro espacio y nuestra
          cultura.
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.chanka.value">
          Musuq kamachikuy mama qillqaman puriy: kay puriypiqa riqsichikuchkan huk musuq kamachikuy mama qillqa
          suyunchikpa huqarukunanpaqmi, kaytaq kanqa llapallan llaqta ayllukunapa. rimarinchik kay musuq kamachikuy mama
          qillqamanta imaraykuchus llapallan runamasikuna warmi qari rimayninku chaninchasqa uyarisqa kananpa,
          chaywantaqa huk musuq kamachinakuyta ruwakunanpa kaytaq llaqta runawan hinallataq Perú suyu umalliqkunawan
          kaytataq imaymana sasachayninkunata, mañakuyninkunata qhawarispa uyarispa ima. Utqayllaman ruwakunanpaq,
          chayllaman huntakunanpaq kaykuna kanan lliw llaqtanchikkunata, kawsayninchikkunata hayninchaspa.
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.collao.value">
          Musuq kamachikuy mama qhillqaman puriy: kay puriypiqa riqsichikushan huk musuq kamachikuy mama qhillqa
          suyunchispaq huqarukunanpaqmi, kaytaq kanqa llapallan llaqta ayllukunapaq. rimarinchis kay musuq kamachikuy
          mama qhillqamanta imaraykuchus llapallan runamasikuna warmi qhari rimayninku chaninchasqa uyarisqa kananpaq,
          chaywantaq huk musuq kamachinakuyta ruwakunanpaq kaytaq llaqta runawan hinallataq Perú suyu umalliqkunawan
          kaytataq imaymana sasachayninkunata, mañakuyninkunata qhawarispa uyarispa ima. Usqhayllaman ruwakunanpaq,
          chayllaman hunt’akunanpaq kaykuna kanan lliw llaqtanchiskunata, kawsayninchiskunata hayninchaspa.
        </ng-container>
      </p>
    </div>
    <div class="col-md-6 carousel-content">

      <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>
        </ul>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid" src="../../../assets/images/carousel1.png" alt="">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/images/arequipa.jpg" alt="">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/images/lima.jpg" alt="">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/images/norteLoreto.jpg" alt="">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/images/surCuzco.jpg" alt="">
          </div>
        </div>
      </div>

    </div>


  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-12" align="center">
      <button mat-raised-button style="background-color: #a51e1f; color:white" (click)="showNewPerson()">
        <mat-icon>person_add</mat-icon>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.spanish.value">
          Únete a esta iniciativa constituyente
        </ng-container>
        <ng-container *ngIf="utilService.typeOfLanguage===languages.chanka.value
        || utilService.typeOfLanguage===languages.collao.value
        ">
          Masachakamuy nuqaykuwan kay musuq ñan puriyman
        </ng-container>
      </button>
    </div>
    <!--  <div class="col-md-7 show-list" align="center">
      <button mat-raised-button class="concept"> <mat-icon>person_pin</mat-icon> Ver lista de conceptos constiuyentes</button>
    </div> -->
  </div>
</div>