.img-content{
    text-align: center;
    display: flex;
    padding: 0 !important;
}

.img-unmsm{
    height: 90px;
    width: auto;
}

.spanish, .chanka, .collao{
    width: 100%;
    cursor: pointer;
    border: none;
    outline:none;
}

.spanish{
    height: 147px;
}

.chanka, .collao{
    height: 168px;
}

@media(min-width:576px) and (max-width :592px){
    .spanish{
        height: 288px;
    }
}

@media(min-width:592px) and (max-width:984px){
    .spanish{
        height: 258px;
    }
}

@media(min-width:576px) and (max-width:680px){
    .chanka, .collao{
        height: 408px;
    }
}


@media(min-width:681px) and (max-width:774px){
    .chanka, .collao{
        height: 318px;
    }
}


.header-content{
    box-shadow: 2px 2px 2px 2px silver;
    margin-bottom: 15px;
    //  background: white;
    background: #970001;
}

.header-info{
    font-weight:500;
    color: white; 
    text-align: center;
    // margin-bottom: 18px;
    padding: 5px;
    align-self: center;
    // font-family: serif;

    font-size: 28px;
    line-height: 30px;
}

.logo-content{
    text-align: center;
    align-self:center;
    padding: 0 !important;
}

@media (max-width: 575px){
    .logo-content{
        width: 100% !important;
    }
}

 :host ::ng-deep  .mat-form-field-label{
      color: white !important;
  }

  
 :host ::ng-deep   .mat-select-value{
    color: white !important;
}


.language{
    float: right;
   /*  position: absolute;
    right: 0; */
    // margin-top: 150px;
    // width: 110px;
}

.not-empty-select.mat-selected {
    color: black !important;
  }
 
.img-logo{
    max-width: 145px;
  /*   position: absolute;
    right: 0;
    height: 145px; */
    float: right;
}

.one{
    // padding-top: 20px;
    align-self: center;
}

.unmsm{
    text-align: end;
}