<div class="container-fluid header-content">
    <div class="row">
        <div class="col-sm-3 col-md-2 logo-content" style="width: 150px; height: 100%;">
            <!--  <img src="../assets/images/logog.png" [routerLink]="['/principal']" alt=""  
            class="img-logo img-fluid"> -->
            <img src="../assets/images/logod.png" [routerLink]="['/principal']" alt="" class="img-logo img-fluid"
                [ngClass]="{'spanish': utilService.typeOfLanguage===languages.spanish.value,
            'chanka': utilService.typeOfLanguage===languages.chanka.value,
            'collao': utilService.typeOfLanguage===languages.collao.value}">
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="col-sm-12 img-content">
                <!-- <div> -->
                <img style="transform: scaleY(0.9);" src="../assets/images/soloLogo.png" alt="" class="img-unmsm">
                <!-- </div> -->
                <img style="transform: scaleY(0.8); max-width: 200px;" src="../assets/images/texto3.png" alt=""
                    class="img-unmsm">
                    <mat-form-field class="language">
                        <mat-label>
                            Seleccione idioma
                        </mat-label>
                        <mat-select [formControl]="idioma" (selectionChange)="changeLanguage()">
                            <mat-option class="not-empty-select" *ngFor="let language of languagesList" [value]="language.value">
                                {{language.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
            </div>
            <div class="col-sm-12 header-info">
                <label for="" style="color: white;">
                    <ng-container *ngIf="utilService.typeOfLanguage===languages.spanish.value">
                        Plataforma al servicio de la ciudadanía para el proceso constituyente de los pueblos del Perú
                    </ng-container>
                    <ng-container *ngIf="utilService.typeOfLanguage===languages.chanka.value">
                        Kay plataforma kanqa llaqta runakunapa tapukuyninkun paskariq lliw kay huk musuq kamachikuy mama
                        qillqa Perú suyunchikpaq awariypi.
                    </ng-container>
                    <ng-container *ngIf="utilService.typeOfLanguage===languages.collao.value">
                        Kay plataforma kanqa llaqta runakunaq tapukuyninkun paskariq lliw kay huk musuq kamachikuy mama
                        qhillqa Perú suyunchispaq awariypi.
                    </ng-container>
                </label>
            </div>
        </div>
    </div>
</div>