<div class="container-fluid header-content">
    <div class="row">
        <div class="col-sm-3 col-md-2 logo-content" style="width: 150px; height: 100%;">
           <!--  <img src="../assets/images/logog.png" [routerLink]="['/principal']" alt=""  
            class="img-logo img-fluid"> -->
            <img src="../assets/images/logod.png" [routerLink]="['/principal']" alt="" 
            class="img-logo img-fluid">
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="col-sm-12 img-content">
                <img style="transform: scaleY(0.9);" src="../assets/images/soloLogo.png" alt="" class="img-unmsm">
                <img style="transform: scaleY(0.8); max-width: 200px;" src="../assets/images/texto3.png" alt="" class="img-unmsm">
            </div>
            <div class="col-sm-12 header-info">
                <label for="" style="color: white;">
                    <ng-container *ngIf="utilService.typeOfLanguage===languages.spanish.value">
                        Plataforma al servicio de la ciudadanía para el proceso constituyente de los pueblos del Perú
                    </ng-container>
                    <ng-container *ngIf="utilService.typeOfLanguage===languages.chanka.value">
                        Kay plataforma kanqa llaqta runakunapa tapukuyninkun paskariq lliw kay huk musuq kamachikuy mama qillqa Perú suyunchikpaq awariypi.
                    </ng-container>
                </label>
            </div>
        </div>
    </div>
</div>