.img-content{
    text-align: center;
}

.img-unmsm{
    height: 90px;
    width: auto;
}

.img-logo{
    height: 136px;
    width: 100%;
    cursor: pointer;
    border: none;
    outline:none;
}

.header-content{
    box-shadow: 2px 2px 2px 2px silver;
    margin-bottom: 15px;
    // background: #5c81a1 !important;
     background: #970001;
    //background:#5096b7;
}

.header-info{
    font-weight:500;
    color: white; 
    font-size: 18px;
    text-align: center;
    margin-bottom: 18px;
}

.logo-content{
    text-align: center;
    align-self:center;
    padding: 0 !important;
}