.img-content{
    text-align: center;
}

.img-unmsm{
    height: 90px;
    width: auto;
}

.spanish, .chanka, .collao{
    width: 100%;
    cursor: pointer;
    border: none;
    outline:none;
}

.spanish{
    height: 136px;
}

.chanka, .collao{
    height: 156px;
}

@media(min-width:576px) and (max-width :592px){
    .spanish{
        height: 176px;
    }
}

@media(min-width:592px) and (max-width:984px){
    .spanish{
        height: 156px;
    }
}

@media(min-width:576px) and (max-width:680px){
    .chanka, .collao{
        height: 196px;
    }
}


@media(min-width:681px) and (max-width:774px){
    .chanka, .collao{
        height: 176px;
    }
}


.header-content{
    box-shadow: 2px 2px 2px 2px silver;
    margin-bottom: 15px;
    //  background: white;
    background: #970001;
}

.header-info{
    font-weight:500;
    color: white; 
    font-size: 18px;
    text-align: center;
    margin-bottom: 18px;
}

.logo-content{
    text-align: center;
    align-self:center;
    padding: 0 !important;
}

@media (max-width: 575px){
    .logo-content{
        width: 100% !important;
    }
}

 :host ::ng-deep  .mat-form-field-label{
      color: white !important;
  }

  
 :host ::ng-deep   .mat-select-value{
    color: white !important;
}


.language{
    // float: right;
    position: absolute;
    right: 0;
    margin-top: 15px;
    width: 110px;
}

.not-empty-select.mat-selected {
    color: black !important;
  }
 