.first{
    border: 0 !important;
}

.mat-step-label{
    color: #5c89ad !important;
}

@media (max-width:767px){
    .vertical-step{
        border-bottom: 5px solid #eeeeee !important;
    }
}

@media (min-width:768px){
    .vertical-step{
        border-right:3px solid silver !important;
    }
}

