 

.img-square{
    height: 30em;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.grid{
    display: inline-grid;
}

.black{
    font-weight: 500;
}
mat-icon{
    border-radius: 50%;
    border: 1px solid;
    margin-right: 1px;
}

@media (max-width:993px){
    .img-square{
        display: none;
    }
}