<div class="container" style="background: white ; padding: 20px 30px 65px 30px">
    <div class="row">
        <div class="col-md-12 content-title">
            <h1 class="title">
                Selección de tipo de persona
            </h1>
          </div>
        <div class="col-md-6" style="border-right: 2px solid;">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="content-1 col-md-4">
                    <i class="fa fa-male" aria-hidden="true"></i>
                </div>
                <div class="col-md-4"></div>

                <div class="col-md-12" align="center" style="margin-top: 40px;">
                    <button mat-raised-button color="primary"> <mat-icon>person_add</mat-icon> Persona natural</button>
                  </div>
            </div>
        </div>
       <div class="col-md-6">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="content-1 col-md-4">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="col-md-4"></div>

                <div class="col-md-12" align="center" style="margin-top: 40px;">
                    <button mat-raised-button class="group"> <mat-icon>group</mat-icon> Grupo / Movimiento / Organización</button>
                  </div>
            </div>
        </div>
    </div>
</div>