.content-1{
    border: 1px solid;
    border-radius: 50%;
    width: 115px;
    height: 170px;
    padding: 20px;
    text-align: center;
    i{
        font-size: 120px;
    }
}

button{
    padding: 5px 30px;
}

.content-title{
    margin-bottom: 50px;
}

.group{
    background: #14a1b7;
    color: white;
}