.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .distant{
      margin-top: 10px;
  }

  .map{
    height: 190px;
    width: 200px;
  }

  img{
    position: absolute;
    top: 0;
    left: 300px;
  }

  mat-radio-button{
    // border: 1px solid;
    width: 100%;
    position: relative;
    // height: 150px;
    display: flex;
    font-size: 13px !important;
  }

  @media (max-width:575px){
    .map{
      display: none;
    }
  }