<label id="example-radio-group-label">Seleccione su idioma</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group">
  <mat-radio-button class="example-radio-button" value="1">
    Español o Castellano
  </mat-radio-button>

  <mat-radio-button class="example-radio-button" value="1">
    Quechua Chanca o Collao
  </mat-radio-button>

  <mat-radio-button class="example-radio-button" value="1">
    Bilingüe (Español/Idioma nativo)
  </mat-radio-button>

</mat-radio-group>