<div mat-dialog-content>
    <!-- <div class="container">
      <div class="row global-content"> -->
      <!--   <div class="col-sm-12 title">
          Registrar
        </div> -->
        <div class="content-icon">
          <mat-icon>info</mat-icon>
        </div>
        <p class="info">¿Seguro que desea guardar los datos ingresados?</p>
        <div class="content-buttons">
            <button class="closeDialog" mat-flat-button (click)="closeDialog()">
              <mat-icon>close</mat-icon> Cancelar
            </button>
            <button class="save" mat-flat-button color="primary" (click)="closeDialog(true)">
              <mat-icon>save</mat-icon> Guardar
            </button>
          </div>
   <!--    </div>
    </div> -->
  </div>  
 