/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    // background: #eeeeee;
    background: white;
}

.text-black{
    font-weight: 500;
}

.title{
    // text-align:center;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    font-family: 'Lato-Regular', 'Lato' !important; 
    color: #024487;
    font-weight: 600 !important;
}

mat-error{
    font-size: 10px;
}

button{
    outline: none !important;
}

.mat-dialog-container{
    background: none !important;
    box-shadow: none !important;
}

.cdk-overlay-dark-backdrop{
    background: black !important;
    opacity: 0.8 !important;
}

.primary{
    background-color: #9d0101 !important;
    color: white !important;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
    background-color: #970001 !important;
}

.btn-next, .btn-save{
    background-color: #a51e1f;
    color: white;
}